.ps-section--sellers {
    .ps-section__title {
        font-size: 30px;
        line-height: 34px;
        color: $color-1st;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .ps-section__tab {
        
        .v-tabs {
            margin-bottom: 20px;
        }

        .v-tab {
            color: $color-1st;
            padding: 0 20px 10px;
            font-size: 22px;
            line-height: 26px;
            text-transform: initial;
            font-weight: 500;
            letter-spacing: initial;
        }

        .primary--text {
            color: $color-1st !important;
        }

        .tab-content {
            border: 1px solid $color-border;
            border-radius: 4px;
        }

        .ps-product--standard {
            border-left: 1px solid $color-border;
        }

        .swiper-slide-active {
            .ps-product--standard {
                border-left: none;
            }
        }

        .v-window {
            overflow: initial;
        }

        .swiper-pagination {
            bottom: -40px;
        }
    }

    @media (min-width: 1024px) {
        .ps-section__title {
            font-size: 40px;
            line-height: 50px;
        }

        .ps-section__tab {
            .nav-link {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}

.ps-section--seller-diagnosis {
    padding-bottom: 50px;
    .ps-section__title {
        color: $color-1st;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .ps-section__carousel {
        border: 3px solid $color-warning;
        border-radius: 4px;
    }

    .ps-product--standard {
        border-left: 1px solid $color-border;
    }

    .ps-swiper {
        .ps-swiper__nav {
            display: none;

            .swiper-button-next {
                margin-right: -40px;
            }

            .swiper-button-prev {
                margin-left: -40px;
            }
        }

        .swiper-pagination {
            bottom: -50px;
        }
    }

    @media (min-width: 1280px) {
        .ps-section__title {
            font-size: 24px;
        }

        .ps-swiper {
            .ps-swiper__nav {
                display: block;
            }

            .swiper-pagination {
                display: none;
            }
        }
    }
}

.ps-section--face-mask {
    margin-bottom: 40px;
    .ps-section__title {
        margin-bottom: 25px;
        color: $color-1st;
        font-size: 22px;
        font-weight: 600;
    }

    .ps-section__carousel {
        border: 3px solid $color-warning;
        border-radius: 4px;
    }

    .ps-product--standard {
        border-left: 1px solid $color-border;
        .ps-product__title {
            min-height: 50px;
        }
    }

    @media (min-width: 1280px) {
        .ps-section__title {
            font-size: 24px;
            line-height: 30px;
        }
    }
}
